* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.BudgetContainer {
  height: 100%;
  background-color: #504f4f;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.Withdrawal,
.Deposit {
  height: 4rem !important;
  padding: 1rem !important;
  font-size: 1.5rem !important;
}
.Withdrawal,
.Deposit,
.Balance {
  height: 50%;
  background-color: #2c2b2b;
  border-radius: 8px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.Withdrawal {
  color: red;
}

.Deposit {
  color: green;
}

.Withdrawal:hover,
.Deposit:hover,
.Balance {
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.2);
}

.BudgetContainer {
  justify-content: flex-start;
}

.SpendandSave {
  display: flex;
  color: beige;
  justify-content: space-around;
  align-items: center;
  height: 40;
}

.SpendandSave > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BalanceContainer {
  display: flex;
  color: beige;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid beige;
}

.Balance {
  width: 70%;
  font-size: 2.2rem;
}

.AddBtn,
.MinusBtn {
  border-radius: 50%;
  background-color: #4ec530;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.MinusBtn {
  background-color: red;
}

.TransactionsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-top: 2rem;
}

.modal-footer {
  align-items: center;
  justify-content: center;
}

.LinkContainer {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.DashboardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.modal-footer {
  display: flex;
}

.modal-footer > button {
  flex: 1;
  font-size: 2rem;
}

.TransactionForm input {
  min-height: 3rem;
}

.TableContainer {
  margin: 1.2rem;
}

.DashboardTable th {
  color: beige;
  text-align: center;
}

.DashboardTable td {
  color: inherit !important;
  text-align: center;
  vertical-align: middle;
}

.DashboardTable .form-select {
  padding: 2px;
}
.DeleteCell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.DeleteBtn {
  margin: 0 !important;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #000;
  border: 2px solid #0d6efd;
  color: red;
  padding: 0;
  font-size: 2rem;
}

.ResetBtn {
  background-color: #7b1aa0;
  margin: 2rem;
}

.AmountCell {
  font-size: 1.3rem;
}

rect {
  fill: #504f4f;
}

hr {
  border: none;
  height: 10px;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  margin: 3rem 0;
}

.ExpensesLabel {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  color: #bababa;
}

.BarCharContainer {
  margin-top: 2rem;
  padding: 0 3rem;
}

.CategoryBadge {
  cursor: pointer;
}
